.sectionContainer {
    display: flex;
    flex-direction: column;
    padding-top: 48px;
    align-items: center;
    gap: 24px;
}

.img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 32px;
    line-height: 1.3;
    letter-spacing: -0.01em;

    margin-bottom: 8px;
    text-align: center;
}

.text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    max-width: 367px;

    text-align: center;
}


@media (min-width: 768px) {
    .sectionContainer {
        flex-direction: row;
    }

    .title {
    text-align: left;
    }

    .text {
        text-align: left;
    }
}