.overlay{
      position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 37, 41, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  padding: 20px;
}
.modal{
    border-radius: 24px;
   padding: 64px 20px 20px;
   width: 100%;
  position: relative;
  max-width: 768px;
  background-color: var(--color-scheme-2-background);
}
.iconeClose{
   width: 32px;
   height: 32px;
   position: absolute; top: 20px; right: 20px;
}
.content{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 16px;
    width: 100%;
    max-width: 295px;
    margin: 0 auto 32px;
   
    
}
.title{
    font-family: var(--second-family);
   font-weight: 700;
   font-size: 26px;
   line-height: 120%;
   letter-spacing: -0.01em;
   text-align: center;
   color: var(--color-scheme-1-text);

}
.description{
  font-family: var(--font-family);
  font-weight: 400;
 font-size: 16px;
 line-height: 150%;
 text-align: center;
 color: var(--color-scheme-1-text);

}
.buttons{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.button {
font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 150%;
color: var(--color-neutral-darkest);
border: 1px solid var(--color-scheme-2-border);
border-radius: 8px;
padding: 6px 12px;
width: 295px;
height: 48px;

}
.confirmButton{ 
background: var(--color-royal-blue);  
}

.cancelButton{
background: var(--opacity-neutral-darkest-5);    
}

