
.desktopAuth {
  display: flex;
  align-items: center;
  gap: 12px;
}

.authButton {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  padding: 4px 10px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  transition: all var(--transition-fast);
  border: 1px solid var(--color-scheme-1-border);
}

/* Кнопка Входу (Десктоп) */
.loginButton {
  background-color: var(--color-royal-blue-lightest);
  color: var(--color-royal-blue);
}

.loginButton:hover {
  background-color: var(--color-royal-blue-lighter);
}

/* Кнопка Реєстрації (Десктоп) */
.registerButton {
  background-color: var(--color-royal-blue);
  color: var(--color-white);
}

.registerButton:hover {
  background-color: var(--color-royal-blue-dark);
}

/* Користувач */
.userInfo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.avatarPlaceholder {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--color-royal-blue);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
}

.userName {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 500;
  color: var(--color-scheme-1-text);
}

.logoutButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: var(--color-scheme-1-text);
  padding: 4px;
  transition: transform var(--transition-fast), color var(--transition-fast);
}

.logoutButton:hover {
  transform: translateX(3px);
  color: var(--color-red);
}

/* Бургер-меню (Modal)*/
.modalAuth {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  margin-top: auto; 
}

.modalLogin, .modalRegister {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  font-weight: 600;
  transition: all var(--transition-fast);
}

.modalLogin {
  background-color: var(--color-royal-blue-lightest);
  color: var(--color-royal-blue);
  border: 1px solid var(--color-royal-blue-lighter);
}

.modalRegister {
  background-color: var(--color-royal-blue);
  color: var(--color-white);
}

/* Темна тема для кнопок у бургері */
[data-theme='dark'] .modalLogin {
  background-color: var(--opacity-white-10);
  color: var(--color-white);
  border-color: var(--opacity-white-15);
}