.page {
  padding: 40px 0 64px;
}

.title {
  text-align: center;
  margin: 0 0 32px;

  font-weight: 800;
  font-size: 40px;
  line-height: 1.1;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: grid;
  gap: 24px;
}

.item {
  display: flex;
  justify-content: center;
}

@media (max-width: 767px) {
  .list {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .title {
    font-size: 48px;
  }
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1440px) {
  .title {
    font-size: 56px;
  }
  .list {
    grid-template-columns: repeat(4, 1fr);
  }
}

.pagination {
  margin-top: 32px;
  display: flex;
  justify-content: center;
}