.wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media (min-width: 1440px) {
  .wrapper {
    margin: 0 auto;
    width: 644px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.list {
  display: flex;
  align-items: center;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.link {
  width: 100%;
  padding: 12px 0 12px;
  text-align: center;

  transition: var(--transition-fast);
}

.link:hover {
  opacity: 0.7;
}

.active {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

[data-theme='dark'] .active {
  border-bottom: 1px solid var(--opacity-white-15);
}

.center_text {
  text-align: center;
}

.mb_24 {
  margin-bottom: 24px;
}
