.wrapper {
  padding: 64px 0;
  h2 {
    margin-bottom: 48px;
  }
}
.wrapperUl {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (max-width: 768px) {
  .positionUlButton > a {
    display: none;
  }
}
/**=================================768px===================================*/

@media (min-width: 768px) {
  .wrapper {
    padding: 64px 0;
  }
  .positionUlButton {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
  }
  .wrapperUl {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: space-between;
  }
}
/**===================================1440px================================*/

@media (min-width: 1440px) {
  .wrapper {
    padding: 64px 0;
  }
  .wrapperUl {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
