.box {
    padding-top: 32px;
    padding-bottom: 32px;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; 
}

.cta-image {
  object-fit: cover;
  object-position: center;
}

.image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.content {
  position: relative;
  z-index: 3; 
  text-align: left;
  max-width: 100%;
  color: var(--color-white);
}
/* 
.title {
  font-family: var(--font-raleway);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 12px;
} */

.text {
 padding-top: 16px;
 padding-bottom: 24px;
}

.cta_btn {
    width: 100%;
    background-color: var(--color-royal-blue) !important;
    color: var(--color-white) !important;
    border-color: var(--color-royal-blue) !important;
    font-size: 16px;
}

.cta_btn:hover {
    background-color: var(--color-royal-blue-lighter) !important;
    color: var(--color-neutral-darkest) !important;
    border-color: var(--color-royal-blue-lighter) !important;
}
/**================================= 768px =================================**/
@media (min-width: 768px) {
    .box{
padding: 32px;
    }
  .wrapper {
    padding: 32px;
  justify-content: left;
  }
  .content {
    max-width: 540px;

  }
  .text {
    padding-right: 40px;
  }

  .cta_btn {
    width: 153px;
    font-size: 16px;
}
}

/**================================= 1440px ===============================**/
@media (min-width: 1440px) {
    .box {
padding: 60px 64px;
min-height: 524px;
    }
  .wrapper {
    padding: 80px 64px;
    
  }
  .content {
    max-width: 540px;
  }

}