/* =================================
    FORMS - SYSTEM (BASE)
==================================== */

.input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

/* Базові стилі для всіх полів */
.input, .textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    box-sizing: border-box;
    background: transparent;
    font-family: var(--font-family);
    font-size: 18px;
    line-height: 1.5;
    border: 1px solid var(--color-scheme-1-border);
    color: var(--color-scheme-1-text);
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
    outline: none;
}

/* Стан фокусу */
.input:focus, .textarea:focus {
    border-color: var(--color-royal-blue);
    box-shadow: 0 0 0 2px var(--color-royal-blue-lighter);
}

/* Стан помилки */
.input-group.has-error .input,
.input-group.has-error .textarea {
    border-color: var(--color-red) !important;
}

.error-text {
    color: var(--color-red);
    font-size: 12px;
    min-height: 18px;
    margin-top: 4px;
}

/* Плейсхолдери */
.input::placeholder, .textarea::placeholder {
    color: var(--color-input-placeholder);
}

/* DARK THEME */
[data-theme='dark'] .input,
[data-theme='dark'] .textarea {
    border-color: var(--opacity-white-15);
    color: var(--color-white);
}