.traveler_card {
  border-radius: 16px;
  padding: 24px;

  width: 100%;
  min-width: 250px;
  max-width: 335px; /* щоб не розтягувалась на десктопі */

  height: 363px;
  background: var(--color-scheme-2-foreground);

  display: flex;
  flex-direction: column;
  gap: 24px;

  transition: all var(--transition-fast);
}

/* Фото */
.traveler_card_photo {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  object-fit: cover;
}

/* Контент */
.traveler_card_content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
}

/* ПІБ */
.traveler_card_name {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-scheme-2-text);

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Опис */
.traveler_card_text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-scheme-2-text);

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Кнопка */
.traveler_card_button {
  margin-top: auto;
  border: 1px solid var(--color-scheme-2-border);
  border-radius: 8px;
  padding: 6px 12px;
  width: 100%;
  height: 48px;
  font-weight: 400 !important;
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 150%;
  color: var(--color-neutral-darkest);
}

/* tablet */
@media (min-width: 768px) {
  .traveler_card {
    width: 340px;
    height: 363px;
  }
}

/* desktop */
@media (min-width: 1440px) {
  .traveler_card {
    width: 310px;
    height: 384px;
  }
  .traveler_card_text {
    font-size: 18px;
  }
}
