
.heroContainer {
position: relative;
width: 100%;
margin-inline: auto;
overflow: hidden;
min-height: 100svh;
}

@media (min-width: 768px) {
.heroContainer {
min-height: 634px;
}
}

@media (min-width: 1440px) {
.heroContainer {
min-height: 900px;
}
}

.hero-image {
object-fit: cover;
z-index: -1;
}

.container {
  width: 100%;
  /* max-width: 375px; */
  padding-top: 196px;
  padding-bottom: 40px;
}

@media (min-width: 768px) {
.container {
padding-top: 244px;
}
}

@media (min-width: 1440px) {
.container {
padding-top: 244px;
}
}

.hero-title {
margin-bottom: 24px;
text-align: left;
}

@media (min-width: 768px) {
.hero-title {
max-width: 600px;
}
}

@media (min-width: 1440px) {
.hero-title {
max-width: 650px;
}
}


.hero-text {
text-align: left;
margin-bottom: 32px;
}
