.heroContainer {
  position: relative;
  overflow: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.22), rgba(0, 0, 0, 0.22));
  padding: 196px 0 331px 0;
}
.hero-image {
  object-fit: fill;
  object-position: center top;
}
.picture {
  position: absolute;
  inset: 0;
  width: 100%;
  margin-inline: auto;
  overflow: hidden;
  min-height: 100svh;
  z-index: -1;
}
.hero-title {
  margin-bottom: 24px;
  text-align: left;
}
.hero-text {
  text-align: left;
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .heroContainer {
    min-height: 634px;
    padding: 244px 0 117px 0;
  }
  .hero-title {
    width: 600px;
  }
}

@media (min-width: 1440px) {
  .heroContainer {
    padding: 244px 0 347px 0;
  }

  .hero-title {
    letter-spacing: -0em;
    width: 759px;
  }
  .hero-text {
    width: 759px;
  }
}
