.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.profileCard {
  display: grid;
  grid-template-columns: 120px 1fr;
  gap: 24px;
  align-items: center;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.name {
  margin: 0;
}

.description {
  margin: 0;
}

.storiesGrid {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 24px;
}

.storyItem {
  min-width: 0;
}

.errorWrapper {
  min-height: 70vh;
  display: grid;
  place-items: center;
  align-items: center;
}

.errorCard {
  max-width: 500px;
  width: 100%;
  padding: 24px;
  text-align: center;
  background-color: #ffe5e5;
  border: 1px solid #ffcccc;
  border-radius: 50px;
}