.div {
  background: var(--color-scheme-2-foreground);
  padding: 40px 32px;
  max-width: 533px;
  border-radius: 24px;
}

.wrapDiv {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  margin-top: 40px;
}

.btn {
  display: flex;
  margin-top: 32px;
}

@media (min-width: 768px) {
  .btn {
    display: inline-flex;
  }
}
