/* =========================
   1. UNIVERSAL CONTAINER
   Mobile First approach
========================= */

/* Мобільні: гумова верстка від 320px до 375px */
.container {
  max-width: 375px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 20px; 
  transition: all 0.3s ease;
}


@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-inline: 32px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-inline: 64px;
  }
}

/* =========================
   2. MAIN CONTENT WRAPPER
   Керування накладанням на Header
========================= */

.main-content {
    min-height: 100vh;
    /* Відступ зверху для всіх сторінок за замовчуванням */
    padding-top: 72px; 
    transition: padding-top 0.3s ease;
}

/* Спеціальний клас для головної сторінки: 
   Hero має заходити ПІД прозорий хедер */
.is-home-layout {
    padding-top: 0 !important;
}