.wrapper {
  width: 100%;
  padding: 64px 0;
}
.position {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.text{
  margin-bottom: 64px;
}

.svgWrapper{
display: flex;
flex-direction: column;
gap:32px
}

.wrapperLi{
  
}


@media (min-width: 768px) {
  .wrapper {
    flex-direction: row;
    gap: 24px;
    font-weight: 700;
    & h2 {
      font-size: 44px;
    }
  }
}

/* @media (min-width: 1440px){
.wrapper{
  display: flex;
}
} */
